services:
  - type: static
    name: setor-g-espaco-vip
    staticPublishPath: ./dist
    buildCommand: npm install && npm run build
    envVars:
      - key: NODE_ENV
        value: production
      - key: VITE_SUPABASE_URL
        sync: false
      - key: VITE_SUPABASE_ANON_KEY
        sync: false
    autoDeploy: true
    routes:
      - path: /*
        destination: /index.html
